.font-style {
    color: #ffffff;
    font-size: 1rem;
}

.header-panle {
    width: 100vw;
    background-color: #000000;
    height: 5vh;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.margin-l-r {
    margin-left: 5%;
    margin-right: 5%;
}
.pointer {
    cursor: pointer;
}

.header-panle > div {
    cursor: pointer;
}

.header {
    width: 100vw;
    height: 30vh;
}

.card {
    background-color: white;
    height: 300px;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}
.card:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 350px;
    width: 350px;
}
.grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    position: relative;
}
.grid > div {
    height: 100vh;
    overflow: scroll;
}
.grid > div:nth-child(1) {
    background-color:rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.grid > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.grid > div:nth-child(1) > div {
    height: 5vh;
    width: 80%;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
.grid > div:nth-child(1) > div:hover {
    color: steelblue;
}
.sidepanel {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.btn {
    background-color: white;
    box-shadow: 1px 1px 1px 1px gray;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.btn:hover {
    background-color: #000000;
    color: #ffffff;
}
.overflow {
    /* height: 70%; */
text-overflow: ellipsis;
overflow: hidden;
}
.about {
    flex: 1;
}
.image {
    flex: 1;
}
.name {
    font-size: 2rem;
    flex: 1;
}
.name > span {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 400;
}

img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.flex-container-row > i {
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.25s;
}
.flex-container-row > i:hover {
    font-size: 4rem;
    color: steelblue;
}
.height-5vh {
    height: 10vh;
}
.height-10vh {
    height: 10vh;
}
.height-80vh {
    height: 80vh;
}
.myintro {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
}
.aboutme {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: steelblue;
    width: 100%;
}
.about-grid {
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 100%;
}

.width100 {
    width: 100%;
}

.about-grid > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.about-grid > div:nth-child(1) > div > p {
    font-size: 2rem;
    text-align: left;
}
.about-grid > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
.flex-col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.flex-col > div {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;    
}
h4{
    margin-left: 5%;
}
h1 {
    color: steelblue;
}
i:hover {
    color: steelblue;
}